<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19252844-2']);
  _gaq.push(['_setDomainName', 'crowy.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  setTimeout(function(){location.href = "{{url}}";}, 500);
</script>
</head>
<body>
Redirecting to <a href="{{url}}">{{url}}</a>
</body>
</html>