<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Crowy管理画面</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<style type="text/css">
form{
	margin:0;
}
</style>
</head>
<body>
<h1>Crowy管理画面</h1>
<!--
<fieldset>
<legend>全モデルにuser_refプロパティを追加</legend>
<form action="/admin/update_userref" method="post">
	<input type="submit" value="実行">
</form>
</fieldset>
<fieldset>
<legend>TwitterのMentionsとDMのnotificationをONにする</legend>
<form action="/admin/enable_notification_twitter" method="post">
	<input type="submit" value="実行">
</form>
</fieldset>
<fieldset>
<legend>Yammerのaccount_nameを修正</legend>
<form action="/admin/repair_yammer_account" method="post">
	<input type="submit" value="実行">
</form>
</fieldset>
<fieldset>
<legend>Columnのparentを一括削除</legend>
<form action="/admin/remove_parent_from_column" method="post">
	<input type="submit" value="実行">
</form>
</fieldset>
<fieldset>
<legend>UserモデルをTabのorder=0から一括作成</legend>
<form action="/admin/create_user_from_tab0" method="post">
	<input type="submit" value="実行">
</form>
</fieldset>
-->
</body>
</html>