<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Crowy</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style type="text/css">
	img{border:none;}
	a{text-decoration:none;}
	a:hover{text-decoration:underline;}
	.main{
		width:800px;
		margin:0 auto;
		font-size:13px;
	}
	.footer{
		width:800px;
		margin:0 auto;
		font-size:12px;
		text-align:center;
		margin-top:30px;
	}
	</style>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19252844-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
	<div class="main">
		<p><a href="main"><img src="static/images/crowy_comming.png" alt="Crowy is comming soon..."></a></p>
		<p>
			Crowyは<a href="http://www.youroom.in/" target="_blank">youRoom</a>、<a href="http://www.yammer.com" target="_blank">Yammer</a>、<a href="http://twitter.com" target="_blank">Twitter</a>のWebクライアントです。<br>
			Gmail、Chatterなどにも対応したいです。対応サービスは適時増やしていきたいです。<br>
			Mashup Awards 6（MA6）への応募を行う予定であり、MA6の締め切り（11月8日）までには公開する予定です。<br>
			しばらくお待ちください。<br><br>
			現在もどこからかログインすることができますが、開発中であり、データは保証しませんし、Crowyを利用して損害を被った場合も責任は取りませんので、ご了承ください。<br>
		</p>
		<p><img src="static/images/crowy_screen.png" alt="Crowy's screen shot"></p>
	</div>
	<div class="footer">
		Crowyは<a href="http://twitter.com/a_kimura" target="_blank">@a_kimura</a>が余暇に開発しています。なかなか進みません。
	</div>
</body>
</html>