{% load i18n %}
var $IP = function(msg){
	return function(params){
		return msg.replace(/\$\(([\w]+)\)/g, function(){return params[RegExp.$1] || ""});
	}
};
var $I = {
	R001: '{% trans "Load More" %}',
	R002: '{% trans "Loading More..." %}',
	R003: '{% trans "You must re-authenticate to get these information. Please click here." %}',
	R004: '{% trans "Failed to load timeline. Click to reload." %}',
	R005: '{% trans "More" %}',
	R006: '{% trans "Loading" %}',
	R007: '{% trans "You cannot use desktop notifications. This feature is available in Google Chrome only." %}',
	R008: "{% trans "Crowy don't notify you as the overall settings for the notification feature is off. Would you like to enable the settings?" %}",
	R009: $IP('{%blocktrans%}Desktop notifications of "$(name)" successfully changed.{%endblocktrans%}'),
	R010: $IP('{%blocktrans%}Failed to change desktop notifications of "$(name)".{%endblocktrans%}'),
	R011: $IP('{%blocktrans%}Are you sure you want to delete this column "$(name)"?{%endblocktrans%}'),
	R012: $IP('{%blocktrans%}Desktop notifications($(status)){%endblocktrans%}'),
	R014: '{% trans "Delete" %}',
	R015: '{% trans "Message posted." %}',
	R016: '{% trans "Failed to post message." %}',
	R017: '{% trans "Press Shift+Enter to post." %}',
	R018: '{% trans "Close" %}',
	R019: '{% trans "Send" %}',
	R020: '{% trans "Clear" %}',
	R021: '{% trans "Advanced" %}',
	R022: "{% trans "Are you sure you'd like to add automatically major timelines of this service?" %}",
	R023: '{% trans "Delete Tab" %}',
	R024: '{% trans "You cannot delete the last tab." %}',
	R025: '{% trans "Are you sure you want to delete this tab?" %}',
	R026: '{% trans "Cancel" %}',
	R027: '{% trans "Add Column" %}',
	R028: $IP('{%blocktrans%}Message posted to "$(name)".{%endblocktrans%}'),
	R029: $IP('{%blocktrans%}Failed to post message to "$(name)".{%endblocktrans%}'),
	R030: '{% trans "Please enter a new shortcut name." %}',
	R031: $IP('{%blocktrans%}Shortcut "$(name)" successfully saved.{%endblocktrans%}'),
	R032: $IP('{%blocktrans%}Failed to save shortcut "$(name)".{%endblocktrans%}'),
	R033: '{% trans "Failed to shrink URL." %}',
	R034: $IP('{%blocktrans%}Shortcut successfully renamed to "$(name)".{%endblocktrans%}'),
	R035: $IP('{%blocktrans%}Failed to rename shortcut "$(name)".{%endblocktrans%}'),
	R036: '{% trans "Are you sure you want to delete this shortcut?" %}',
	R037: $IP('{%blocktrans%}Shortcut "$(name)" successfully deleted.{%endblocktrans%}'),
	R038: $IP('{%blocktrans%}Failed to delete shortcut "$(name)".{%endblocktrans%}'),
	R039: '{% trans "Rename" %}',
	R040: '{% trans "Label Color" %}',
	R041: $IP('{%blocktrans%}Color of the shortcut "$(name)" successfully changed.{%endblocktrans%}'),
	R042: $IP('{%blocktrans%}Failed to change the color of shortcut "$(name)".{%endblocktrans%}'),
	R043: '{% trans "Desktop notifications successfully changed." %}',
	R044: '{% trans "Failed to change desktop notifications." %}',
	R045: "{%blocktrans%}<div>allows Crowy to display popup notifications on your desktop.<br/>If notifications setting of a column is off, Crowy don't notify you.<br/>You can set notification setting of a column in right top triangle of every column.</div>{%endblocktrans%}",
	R046: $IP('{%blocktrans%}Are you sure you want to delete account "$(name)"?\nIf delete, all column of this account will be deleted.{%endblocktrans%}'),
	R047: '{% trans "This account successfully deleted. Crowy reload now." %}',
	R048: '{% trans "Failed to delete this account." %}',
	R049: '{% trans "Show Conversation" %}',
	R050: '{% trans "More>>" %}',
	R051: '{% trans "<<Close" %}',
	R053: '{% trans "Retweet this to your followers?" %}',
	R054: $IP('{%blocktrans%}Message has been retweeted by $(account).{%endblocktrans%}'),
	R055: $IP('{%blocktrans%}Failed to retweet by $(account).{%endblocktrans%}'),
	R056: '{% trans "Message successfully favorited" %}',
	R057: '{% trans "Failed to favorite message." %}',
	R058: '{% trans "Failed to load comments." %}',
	R059: '{% trans "All Updates" %}',
	R060: '{% trans "Message successfully liked." %}',
	R061: '{% trans "Failed to like message." %}',
	R062: '{% trans "Message successfully unliked." %}',
	R063: '{% trans "Failed to unlike message." %}',
	R064: '{% trans "People who like this" %}',
	R065: "{% trans "Anyone don't like this." %}",
	R066: "{% trans "Your Facebook Pages" %}",
	R070: '{% trans "Add" %}',
	R071: '{% trans "Search" %}',
	R072: $IP('{%blocktrans%}Retweeted by $(account){%endblocktrans%}'),
	R073: $IP('{%blocktrans%}Retweeted by $(account) and $(count) others{%endblocktrans%}'),
	R075: '{% trans "OK" %}',
	R076: $IP('{%blocktrans%}$(service) returns error. Try again later.{%endblocktrans%}'),
	R077: '{% trans "Cybozu Live" %}',
	R078: '{% trans "Press Ctrl+Enter to post." %}',
	R079: $IP('{%blocktrans%}Can\'t upload image in $(services).{%endblocktrans%}'),
	R080: '{% trans "This tweet has been deleted successfully." %}',
	R081: '{% trans "Failed to delete this tweet" %}',
	R082: $IP('{%blocktrans%}Are you sure you want to delete this tweet?\n$(tweet){%endblocktrans%}'),
	R083: '{% trans "Message successfully unfavorited" %}',
	R084: '{% trans "Failed to unfavorite message." %}',
	R085: "{% trans "Anyone don't retweet this." %}",
	R086: '{% trans "Color" %}',
	R087: $IP('{%blocktrans%}Color of the column "$(name)" has been changed.{%endblocktrans%}'),
	R088: $IP('{%blocktrans%}Failed to change color of the column "$(name)".{%endblocktrans%}'),
	R089: '{% trans "Retweet" %}',
	R090: '{% trans "Follow" %}',
	R091: '{% trans "Unfollow" %}',
	R092: '{% trans "Following" %}',
	R093: '{% trans "Followers" %}',
	R094: '{% trans "Tweets" %}',
	R095: '{% trans "Favorites" %}',
	R096: '{% trans "Friendships" %}',
	R097: '{% trans "Friends" %}',
	R098: '{% trans "Fan" %}',
	R099: '{% trans "Following" %}',
	R100: '{% trans "Your follow request has been sent." %}',
	R101: '{% trans "DM" %}',
	R102: '{% trans "Reply" %}',
	R103: '{% trans "You should connect to Twitter." %}',
	R104: '{% trans "Please select an account linked to the new column." %}',
	R105: '{% trans "Are you sure you want to logout from Google?" %}',
	R106: '{% trans "Only Crowy" %}',
	R107: '{% trans "Crowy and Google" %}',
	R108: '{% trans '<a class="friend-name"/> posted about <a class="this-product">this product</a>' %}',
	R109: '{% trans "d M" %}',
	R110: $IP('{%blocktrans%}$(second)s{%endblocktrans%}'),
	R111: $IP('{%blocktrans%}$(minute)m{%endblocktrans%}'),
	R112: $IP('{%blocktrans%}$(hour)h{%endblocktrans%}'),
};