<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Crowy</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="apple-touch-icon" href="static/images/crowy_128x128.png" /> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>
	<script src="static/js/bookmark_bubble/bookmark_bubble.js"></script>
	<script src="static/js/bookmark_bubble/example.js"></script>
<body>
<div id="index" data-role="page">
<div data-role="content">
	<div style="text-align:center;">
		<img src="/static/images/crowy_logo.png">
		<p>マルチソーシャルメディアクライアントCrowyへようこそ</p>
		<a data-role="button" data-transition="fade" href="login" rel="external">ログイン</a>
		<p>※ログインにはGoogleアカウントが必要です。</p>
		<!-- <a href="javascript:localStorage.clear()">clear localStorage</a>-->
	</div>
</div>
</div>
</body>
</html>