<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Crowy</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="apple-touch-icon" href="static/images/crowy_128x128.png" /> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
	<link rel="stylesheet" type="text/css" href="static/css/mobile.css?{{version}}" />
	<script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>
	<script type="text/javascript" src="static/js/jquery.livequery.js"></script>
	<script type="text/javascript" src="static/js/jquery-dom.js"></script>
	<script type="text/javascript">
	var tabConfs = {{tabs}};
	</script>
	<script type="text/javascript" src="static/js/mobile.js?{{version}}"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19252844-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="timelines" data-role="page"data-theme="b">
 <div data-role="header" data-position="fixed">
	 <h1>タイムライン一覧</h1>
	 <a href="logout" class="ui-btn-right" rel="external">ログアウト</a>
 </div>
 <div data-role="content">
 </div>
</div>
<div id="messages" data-role="page"data-theme="b">
 <div data-role="header" data-position="fixed">
   <h1></h1>
   <a href="javascript:reloadMessages()" class="ui-btn-right">更新</a>
 </div>
 <div data-role="content">
 </div>
</div>
</body>
</html>